*{
    margin: 0;
    padding: 0;
}
header{
    font-family: 'Comfortaa', cursive;
    font-size: 48px;
    height: 500px;
    text-align:center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    background: #000;
    margin-bottom: 50px;
}
.rosp>img{
    width: 640px;
    
}
.rosp{
    margin-bottom: 20px;
    border: 25px solid #000;
    border-radius: 20px;
    padding: 5px;
}
.cont_rosp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
