*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    margin-bottom: 2vh;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.app{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
textarea{
    padding: 10px;
    border: 2px solid black;
}

button{
    height: 30px;
    width: 20%;
}
footer{
    position:absolute;
    bottom:1vh;
    left: 2vh;
}
